<template>
  <the-navbar></the-navbar>
  <router-view></router-view>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import TheNavbar from '@/components/ui/TheNavbar.vue';
import { onMounted } from '@vue/runtime-core';

import { useAuthUserStore } from '@/stores/auth';

export default defineComponent({
  name: 'App',
  components: { TheNavbar },
  setup() {
    const store = useAuthUserStore();
    onMounted(() => store.getCurrentUser());
  }
});
</script>
